body {
  font-family: "Allerta Stencil";
  background-color: hsl(0, 0%, 95%); /* gris claro */
  background-image: url('/img-front/web.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #333; /* gris oscuro */
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ee32a0;
  font-size:60px;
  text-shadow: 5px 5px #6c6e70;
}

h2 {
  color: #ee32a0;
}

/* área de texto */
#inputText {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* botón limpiar */
#limpiarButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
}

#limpiarButton:hover {
  background-color: #2980b9; /* celeste oscuro mousse*/
}

/* contenedor de resultados */
#resultados {
  color: #fff;
  margin-top: 20px;
  
}

/* característica */
.caracteristica {
  border: 2px solid rgba(255, 255, 255, 0.5); /* Color blanco con 50% de opacidad */
  padding: 10px;
  margin: 10px;
  opacity: 0.8; /* Opacidad general de la caja */
  background-color: rgba(0, 0, 0, 0.5);
}

/*resultados individuales */
.caracteristica p {
  margin: 5px 0;
}

/* título de resultados */
.caracteristica h2 {
  color: #f16b5f;
}

.title-center {
  text-align: center;
}

#contenedor {
  padding-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
}

  /* Estilos del área de texto */
  #inputText {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos del botón limpiar */
  #limpiarButton {
    background-color: #3498db; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #limpiarButton:hover {
    background-color: #2980b9; /* celeste oscuro mousse*/ 
  }
  
  /* Estilos de los resultados */
  #resultados {
    margin-top: 20px;
  }
  
  /*resultados individuales */
  #resultados p {
    margin: 5px 0;
  }
  
  /* contenedor de resultados */
  #resultados h2 {
    color: #f16b5f;
  }

  #footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    text-align: center;
    min-height: 10%;
    padding:20px;

  }